*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #006685;
    background: linear-gradient(270deg, rgb(255, 205, 68), rgb(255, 115, 0));
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.page {
    display: none;
}

.active {
    display: block;
}

img{
    border-radius: 15px;
}

button{
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover{
    background: rgb(80, 141, 255);
}

p{
    color: aliceblue;
    font-size: large;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;

}

h1{
    background: rgb(204, 204, 204);
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
}